<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Project_Steganography</title>
    </head>
    <body>
        <h1>Project_Steganography</h1>
        <h3>辨識是否為隱寫照片</h3>
        <form action = "/detect" method = "POST" enctype="multipart/form-data">
            <!-- image upload -->
            <input type="file" name="file" accept="image/JPEG, image/png, image/jpg">
            <!-- submit button -->
            <input type="submit" value="submit">
        </form> 
    </body>
</html>